.text-center
  %h1
    = locals[:title]

- if locals[:tags]
  %a{ href: "/messages/latest" } Show all latest messages

- if locals[:messages]
  - locals[:messages].each do |message|
    .panel.panel-default.spacer
      .panel-heading.inline
        %strong
          - if current_user.follows.map(&:username).include? message.user.username
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          = '<a href="/user/profile/' + message.user.username + '">' + message.user.username + '</a>:'
        .right
          = date_to_string(message.date)
      .panel-body
        = print_message_content(message)
        - if !message.location.empty?
          .right
            %span.glyphicon.glyphicon-map-marker
            = message.location
