.text-center
  %h1
    = locals[:title] + ' - ' + user.username

%h2 Information

%table.table.spacer
  %tr
    %th Username:
    %td
      = print_username(user.username, locals[:followed])
      - if (user.username != session[:username]) && !followed?(user.username, locals[:followed])
        = '<a href="/user/follow/' + user.username + '">(Follow)</a>'
      - if (user.username != session[:username]) && followed?(user.username, locals[:followed])
        = '<a href="/user/unfollow/' + user.username + '">(Unfollow)</a>'
  %tr
    %th E-mail:
    %td
      = user.email
  %tr
    %th Member since:
    %td
      = date_to_string(user.registration_date)
  %tr
    %th Shared messages:
    %td
      = messages.size

- if user.follows.size > 0
  %h2.spacer Follows
  %table.table.table-condensed.spacer
    - user.follows.each do |followed|
      %tr
        %th
          = print_username(followed.username, locals[:followed])
        - if user.username == session[:username]
          %td
            = '<a href="/user/unfollow/' + followed.username + '">Unfollow</a>'
- else
  %h2 This user has followed no one so far.

- if locals[:messages].size > 0
  %h2.spacer Shared Messages
- else
  %h2.spacer This user has no shared messages yet

= (haml :show_messages, locals: locals)
