.text-center
  %h1
    = locals[:title]

%h2 Information

%table.table.spacer
  %tr
    %th Username:
    %td
      = print_username(user.username, locals[:followed])
      - if (user.username != session[:username]) && !followed?(user.username, locals[:followed])
        = '<a href="/user/follow/' + user.username + '">Follow</a>'
  %tr
    %th E-mail:
    %td
      = user.email
  %tr
    %th Member since:
    %td
      = date_to_string(user.registration_date)
  %tr
    %th Shared messages:
    %td
      = messages.size

- if user.follows.size > 0
  %h2 Follows
  - user.follows.each do |followed|
    %table.table
      %tr
        %th
          = print_username(followed.username, locals[:followed])
        - if user.username == session[:username]
          %td
            = '<a href="/user/unfollow/' + followed.username + '">Unfollow</a>'
- else
  %h2 This user has followed no one so far.


- if locals[:messages].size > 0
  %h2 Shared Messages
- else
  %h2 This user has no shared messages yet

= (haml :show_messages, locals: locals)
